[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bel = "*"
celery = "*"
elasticsearch = "*"
falcon = "*"
falcon-auth = "*"
falcon-cors = "*"
flower = "*"
gevent = "*"
gunicorn = "*"
itsdangerous = "*"
json-logging-py = "*"
layeredconfig = "*"
librabbitmq = "*"
passlib = "*"
python-arango = "*"
python-dateutil = "*"
python-json-logger = "*"
structlog = "*"
timy = "*"
ptvsd = "*"
PyJWT = "*"

[dev-packages]
ptvsd = "*"
Pygments = "*"
Sphinx = "*"
bumpversion = "*"
coverage = "*"
jsonschema = "*"
pep8 = "*"
pyflakes = "*"
pytest = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mock = "*"
pytest-pep8 = "*"
pytest-pythonpath = "*"
pytest-sugar = "*"
pytest-watch = "*"
requests = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
twine = "*"

[requires]
python_version = "3.6"
