[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
falcon = "*"
falcon-auth = "*"
falcon-cors = "*"
flower = "*"
gevent = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
gunicorn = "*"
itsdangerous = "*"
json-logging-py = "*"
layeredconfig = "*"
passlib = "*"
python-arango = "*"
python-dateutil = "*"
python-json-logger = "*"
structlog = "*"
timy = "*"
ptvsd = "*"
PyJWT = "*"
tatsu = "*"
fastcache = "*"
falcon-swagger-ui = {git = "https://github.com/belbio/falcon-swagger-ui.git"}
ulid = "*"
click = "*"
jsonschema = "*"
cachecontrol = "*"
cityhash = "*"
lxml = "*"
ndg-httpsclient = "*"
pyopenssl = "*"
"pyasn1" = "*"
bel = "*"
requests-cache = "*"

[dev-packages]
ptvsd = "*"
Pygments = "*"
Sphinx = "*"
bumpversion = "*"
coverage = "*"
jsonschema = "*"
pep8 = "*"
pyflakes = "*"
pytest = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mock = "*"
pytest-pep8 = "*"
pytest-pythonpath = "*"
pytest-sugar = "*"
pytest-watch = "*"
requests = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
twine = "*"

[requires]
python_version = "3.6"
