elasticsearch==6.0.0
python-arango==3.12.1
falcon==1.3.0rc2
falcon_auth==1.1.0
falcon_cors==1.1.7
gunicorn==19.7.1
PyJWT==1.5.3
itsdangerous==0.24
passlib==1.7.1
json-logging-py==0.2
layeredconfig==0.3.2
