swagger: "2.0"
info:
  description: |
    BEL Bio REST API specification
  version: "1.0.0"
  title: "BEL Bio API Specification"
  contact:
    email: "support@bel.bio"
host: "api.bel.bio"
basePath: /v1
tags:
  - name: BEL
    description: "BEL Language endpoints"
  - name: Terminologies
    description: "Namespace and Annotation terminology endpoints"
  - name: Nanopubs
    description: "Nanopub endpoints"
  - name: Edges
    description: "Edge endpoints"
schemes:
  - "http"
  - "https"
consumes:
  - "application/json"
produces:
  - "application/json"

securityDefinitions:
  Bearer:
    description: |
      For accessing the API a valid JWT token must be passed in all the queries in
      the 'Authorization' header.

      A valid JWT token is generated by the API and retourned as answer of a call
      to the route /login giving a valid user & password.

      The following syntax must be used in the 'Authorization' header:
        Bearer: xxxxxx.yyyyyyy.zzzzzz
    type: apiKey
    name: Authorization
    in: header

paths:

  /bel: {}

  /terms: {}

  /nanopubs:
    get:
      tags: ['Nanopubs']
      summary: Get Nanopubs
      description: Get nanopubs
      parameters:
        - $ref: "#/parameters/offsetParam"
        - $ref: "#/parameters/limitParam"
        - $ref: "#/parameters/includeParam"
        - $ref: "#/parameters/excludeParam"
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Nanopub'

        401:
          description: Unauthorized, missing or incorrect API token
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /edges: {}


definitions:
  Nanopub:
    type: object
    properties:
      nanopub:
        id: /properties/nanopub
        description: Smallest unit of relational knowledge with context (see http://nanopub.org/)
        type: object
        required:
          - nanopub
        properties:
          nanopub:
            type: object
            required:
              - type
              - citation
              - edge
            properties:
              id:
                type: string
                description: ID of nanopub
              schema:
                type: string
                format: url
                description: JSON Schema definition
              type:
                description: 'Type of nanopub: BEL version 2.0, PEL, Legal, etc'
                type: object
                properties:
                  name:
                    type: string
                    description: Name of Nanopub type, e.g. BEL
                  version:
                    type: string
                    description: Version of Nanopub type, e.g. 1.0.0
              context:
                id: /nanopub/properties/annotations
                description: Context of the edge (e.g for BEL nanopubs, the species, tissue, disease)
                  state, ...
                type: object
              citation:
                id: /nanopub/properties/citation
                description: Reference to the source. The specific type of nanopub may have
                  specific objects required for citations (e.g. BEL citations).
                oneOf:
                - type: string
                - type: object
              edge:
                id: /nanopub/properties/edge
                type: object
                required:
                  - subject
                properties:
                  subject:
                    id: /nanopub/properties/edge/properties/subject
                    type: string
                  relation:
                    id: /nanopub/properties/edge/properties/relation
                    type: string
                  object:
                    id: /nanopub/properties/edge/properties/object
                    type: string
              evidence:
                id: /nanopub/properties/evidence
                description: Any specific summary text that serves as a basis for this edge and context.
                type: string
              metadata:
                id: /nanopub/properties/metadata
                description: |
                  Optional metadata elements - Creator information, creation date, additional notes, etc
                  Any additional metadata elements can be added as needed.
                type: object
                properties:
                  creation_date:
                    type: string
                    format: date
                  modification_date:
                    type: string
                    format: date
                  nanopub_collection:
                    type: string
                    description: Name of a set of nanopubs if applicable, used to group nanopubs into sets
                  author_name:
                    type: string
                  author_email:
                    type: string
                    format: email
                  reviewer_name:
                    type: string
                  reviewer_email:
                    type: string
                    format: email
                  status:
                    type: string
                    description: Status of nanopub - review means flagged to be reviewed
                    enum:
                    - draft
                    - review
                    - published
    example:
      nanopub:
        type:
          name: BEL
          version: '1.0'
        schema: http://json.schemastore.org/nanopub-1.0.0.json
        edge:
          object: bp(GOBP:"lipid oxidation")
          relation: positiveCorrelation
          subject: path(MESHD:Atherosclerosis)
        evidence: Oxidation and nitration of macromolecules, such as proteins, DNA and lipids,
          are prominentin atherosclerotic arteries.
        context:
          Anatomy: artery
          Disease: atherosclerosis
          TextLocation: Review
        citation:
          authors:
          - de Nigris F
          - Lerman A
          - Ignarro LJ
          - Williams-Ignarro S
          - Sica V
          - Baker AH
          - Lerman LO
          - Geng YJ
          - Napoli C
          comments: ''
          date: ''
          id: '12928037'
          name: Trends in molecular medicine
          type: PubMed
        metadata:
          stmt_group: Group 1


  ErrorResponse:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
    required:
      - code
      - message

parameters:

  offsetParam:
    name: offset
    in: query
    required: false
    type: integer
    minimum: 0
    description: The number of items to skip before starting to collect the result set.

  limitParam:
    name: limit
    in: query
    required: false
    type: integer
    minimum: 1
    maximum: 100
    default: 20
    description: The numbers of items to return.


  sort_fieldsParam:
    name: sort_fields
    in: query
    required: false
    type: array
    items:
      type: string
    collectionFormat: csv
    description: Results are sorted by first, second, ... sort field in order

  sort_directionParam:
    name: sort_dirction
    in: query
    required: false
    type: string
    enum: ['asc', 'desc']
    description: Ascending or descending sort
    default: 'desc'

  includeParam:
    name: include
    in: query
    required: false
    type: array
    items:
      type: string
    collectionFormat: csv
    description: >
      Include these values in response, include takes
      precedence over exclude

  excludeParam:
    name: exclude
    in: query
    required: false
    type: array
    items:
      type: string
    collectionFormat: csv
    description: >
      Exclude these values in response, include takes
      precedence over exclude

responses:
  Standard500ErrorResponse:
    description: An unexpected error occured.
    schema:
      $ref: "#/definitions/ErrorResponse"

externalDocs:
  description: "Find out more about BEL"
  url: "http://bel.bio"
