---
# YAML configuration file for BEL API
#   this can be overridden by environment variables

# Put all secrets here - all of the configuration except for what is in the secrets section
# will be presented in the authenticated status endpoint result

version: 0.1.0

secrets:
  shared_secret: testme  # shared secret to validate JWT
  mail_user: test
  mail_pw: XXX

# Should we require authentication in API?
authenticated: true

# Log configuration is in the conf-logging.yml file

# For accessing localhost from docker on a mac, use special dns name 'docker.for.mac.localhost'
servers:
  elasticsearch: http://docker.for.mac.localhost:9200
  arangodb_host: docker.for.mac.localhost
  arangodb_protocol: http
  arangodb_port: 8529
  arangodb_username: ''
  arangodb_password: ''


# Term Canonicalization and decanonicalization
canonical:
  HGNC: ["EG", "SP"]
  MGI: ["EG", "SP"]
  RGD: ["EG", "SP"]
  SP: ["EG"]

decanonical:
  EG: ['HGNC', "MGI", 'RGD', "SP"]
