version: 1
disable_existing_loggers: False
formatters:
  simple:
    format: '%(name)s - %(levelname)s - %(asctime)s || %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simple
    stream: ext://sys.stdout
  # logfile:
  #   class: logging.FileHandler
  #   formatter: simple
  #   filename: '../api.log'
loggers:
  elasticsearch:
    level: WARNING
root:
  level: INFO
  handlers: [console]
